body {
    background: black;
}

#container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#editor {
    width: 100%;
    flex-basis: 100%;
}

#codeEditor {
    width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.CodeMirror {
    width: 100%;
    flex-basis: 100%;
}

#guiEditor {
    width: 100%;
    flex-basis: 100%;
    flex-direction: column;
    overflow-y: auto;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #F8F8F8;
}

.darcula #header {
    background-color: #1B1B1B;
    color: white;
}

#footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #F8F8F8;
    height: 2em;
    padding-top: 8px;
}

.darcula #footer {
    background-color: #2B2B2B;
    color: #888888;
}

.cursorLocation {
    padding-left: 1em;
    padding-right: 2em;
    color: #222222;
}

.darcula .cursorLocation {
    background-color: #2B2B2B;
    color: #666666;
}

.delimiter {
    color: #AAAAAA;
}

.darcula .delimiter {
    color: #444444;
}

#modeSelector {
    margin-left: 2em;
    flex: 0 0 auto;
}

#saveButtonContainer {
    margin-right: 1em;
    padding-bottom: 2px;
}

#referenceButtonContainer {
    padding-left: 2em;
}

#downloadButtonContainer {
    padding-left: 2em;
}

#helpButtonContainer {
    padding-left: 2em;
}

.headerRow td {
    background-color: #444444;
    color: white;
    padding: 6px;
}

#loadSpellsTable {
    border-collapse: collapse;
}

.spellName {
    font-weight: bold;
}

.spellCreator {
    font-style: italic;
}

.spellDescriptionOuter {
    position: relative;
    height: 1.2em;
}

.spellDescriptionInner {
    position: absolute;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: auto;
    top: 0;
    bottom: 0;
    padding-left: 10px;
}

.spellDescription {
    color: #888888;
}

.ui-checkboxradio-icon {
    display: none;
}

#editorTree:focus {
    outline: 0;
}

.propertyInput {
    width: 100%;
}

.ui-menu {
    width: 20em;
}

.ui-menu kbd { /* Keyboard shortcuts for ui-contextmenu titles */
    float: right;
}

.ui-button-icon-only.demo-splitbutton-select {
    width: 0.5em;
}

.controlgroup {
    flex: 0 0 auto;
}

.CodeMirror-hint {
    display: table-row;
}

li.CodeMirror-hint-active {
    background: #00AAFF;
}

li.CodeMirror-hint:hover {
    background: #DDEEFF;
    color: #000000;
}

.darcula li.CodeMirror-hint:hover {
    background: #444444;
    color: #CC7832;
}

.CodeMirror-hint td div {
    max-height: 30px;
    overflow: hidden;
    margin-left: 1em;
    color: #888888;
    max-width: 50em;
    text-overflow: ellipsis;
}

.darcula .CodeMirror-hint {
    color: #BB6822;
}

.CodeMirror-hint-active td div {
    max-height: inherit;
    white-space: pre-wrap;
    color: #000000;
}

.darcula .CodeMirror-hint-active {
    color: #CC7832;
}

.CodeMirror-hint:hover td div {
    max-height: inherit;
    white-space: pre-wrap;
    color: #000000;
}

.spellIcon {
    width: 16px;
    height: 16px;
}

.CodeMirror-hint-active td div .spellIcon {
    width: 32px;
    height: 32px;
}

.CodeMirror-hint:hover td div .spellIcon {
    width: 32px;
    height: 32px;
}

.particlePreview {
    width: 16px;
    height: 16px;
}

.CodeMirror-hint-active td div .particlePreview {
    width: 32px;
    height: 32px;
}

.CodeMirror-hint:hover td div .particlePreview {
    width: 32px;
    height: 32px;
}

.textureIcon {
    width: 16px;
    height: 16px;
    background-size: 128px 64px;
    background-position: -16px -16px;
}

.CodeMirror-hint-active td div .textureIcon {
    width: 32px;
    height: 32px;
    background-size: 256px 128px;
    background-position: -32px -32px;
}

.CodeMirror-hint:hover td div .textureIcon {
    width: 32px;
    height: 32px;
    background-size: 256px 128px;
    background-position: -32px -32px;
}

.colorSwatch {
    width: 32px;
    height: 16px;
    margin-right: 1em;
    display: inline-block;
}

.CodeMirror-hint-active td div .colorSwatch {
    width: 32px;
    height: 32px;
}

.CodeMirror-hint:hover td div .colorSwatch {
    width: 32px;
    height: 32px;
}

.inheritedProperty {
    font-style: italic;
}

.defaultProperty {
    font-weight: bold;
}

#userInfoContainer {
    flex: 1 1 100%;
}

.clipboard {
    cursor: pointer;
}

.copied {
    background-color: rgba(250, 250, 200, 0.6);
    margin: 0.5em;
}

#copyCode {
    background: #DDDDDD;
    font-family: monospace;
    border: 0;
}